<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links - A Drop From The Bucket</title>
    <link rel="stylesheet" href="/../../styles.css">
    <link rel="icon" href="/../../assets/rustybucketz30_logo.png">
</head>
<body>

    <nav>
        <div class="nav-left">
           <a href="/index.html">
            <img src="../../assets/rustybucketz30_logo.png"/>
           </a>
        </div>
        <div class="nav-right">
            <a href="../../pages/whoy.html">Whoy</a>
            <a href="../../pages/blog.html">Blog</a>
            <a href="../../pages/links.html">Links</a>
        </div>
    </nav>
    
    <main>
        <section>
            <h1>Links</h1>
            <p>For no particulary great reason, I compile links of things I found intersting or noteworthy for an inumerable number of reasons. I suppose these are my 'inputs' of sorts that guide the rabbit holes I go down and archiving them seems fruitful to me. So here they are:<p>     
        </section>

        <hr/>
        <section>
        <h1> August 2023 </h1>
        <!-- START --><h2>pilled-texts</h2>
<ul>
<li><a href="https://orwell.ru/library/novels/Animal_Farm/english/efp_go">Animal Farm by George Orwell</a></li>
<li><a href="https://www.youtube.com/watch?v=cQd6QGQIxmQ">Great argument between two strong reasoners</a></li>
</ul>
<h2>foss-stuff</h2>
<ul>
<li><a href="https://podman.io/">FOSS Containerization (Podman)</a></li>
<li><a href="https://github.com/ubicloud/ubicloud">FOSS Cloud</a></li>
<li><a href="https://github.com/Wisser/Jailer">FOSS DB and Relational Mapping Tool (Jailer)</a></li>
<li><a href="https://github.com/modal-labs/devlooper">FOSS Proomptng Dev Tool</a></li>
<li><a href="https://docs.mesa3d.org/drivers/virgl">Tool for Better GPU Passthrough in virtualization software like QEMU</a></li>
</ul>
<h2>ui-stuff</h2>
<ul>
<li><a href="https://fffuel.co/css-selectors/">CSS Selectors: Visualized</a></li>
<li><a href="https://nonzerosum.games/thetetriseffect.html">Unique Blog Website</a> </li>
<li><a href="https://noclip.website/">Super Cool, unexplainable</a></li>
<li><a href="https://alexplescan.com/posts/2023/07/08/easy-svg-sparklines/">Cool SVG Effect</a></li>
<li><a href="https://v5.mantine.dev/">Mantine UI Library</a></li>
<li><a href="https://www.prisma.io/">React ORM Tool</a></li>
<li><a href="https://trpc.io/">E2E type safety for full-stack JS applications</a></li>
<li><a href="https://godly.website/">Awesome UI Designs from around the internet</a></li>
<li><a href="http://terminal.sexy">Sexy Terminal maker (isotope:dark is money)</a></li>
<li><a href="https://pencilandpaper.io/articles/ux-pattern-analysis-loading-feedback/">Loading Screens</a></li>
</ul>
<h2>ai-stuff</h2>
<ul>
<li><a href="https://github.com/varunshenoy/opendream">Opendream: Stable Diffusion mixed UI Generation</a></li>
<li><a href="https://www.anyscale.com/blog/fine-tuning-llama-2-a-comprehensive-case-study-for-tailoring-models-to-unique-applications">Fine-tuning Llama-2 models</a></li>
<li><a href="https://pair.withgoogle.com/explorables/grokking/">Does Machine Learning Memorize or Generalize?</a></li>
<li><a href="https://github.com/innovatorved/whisper.api">FOSS Speech to Text Translation (Whisper API)</a></li>
</ul>
<h2>learning-tutorials</h2>
<ul>
<li><a href="https://cis.temple.edu/~pwang/AGI-Intro.html">Introduction to AGI</a></li>
<li><a href="https://matklad.github.io/2023/08/06/fantastic-learning-resources.html">Awesome Learning Resources Aggregated</a></li>
<li><a href="https://archive.org/details/mit_press_open_access?tab=collection">MIT Open Access Course Material</a></li>
<li><a href="https://abseil.io/resources/swe-book/html/toc.html">Guide and Overview of Software Engineering at Google</a></li>
<li><a href="https://insanity.industries/post/simple-networking/">Simple Networking Guide</a></li>
<li><a href="https://grahamhelton.com/blog/ssh-cheatsheet/">SSH Guide, but only the useful stuff</a></li>
</ul>
<h2>interesting-blogs</h2>
<ul>
<li><a href="https://jakobgreenfeld.com/build_an_audience">Building Audience vs. business</a></li>
<li><a href="https://jakobgreenfeld.com/free">Not selling your stuff, free trap/paradox</a></li>
<li><a href="https://medium.com/source-and-buggy/do-one-thing-and-do-it-well-886b11a5d21">Do one thing and do it well</a></li>
<li><a href="https://terrytao.wordpress.com/career-advice/be-sceptical-of-your-own-work/">Be Skeptical of your own work</a></li>
<li><a href="https://www.cs.utexas.edu/~eunsol/courses/data/bitter_lesson.pdf">Bitter lesson from AI research</a></li>
<li><a href="https://interestingliterature.com/2020/05/a-summary-and-analysis-of-george-orwells-animal-farm/">Animal Farm Overview and Analysis</a></li>
<li><a href="https://blog.danslimmon.com/2023/08/11/squeeze-the-hell-out-of-the-system-you-have/#like-2777">Squeeze the systems you have and use</a></li>
<li><a href="https://www.honest-broker.com/p/my-lifetime-reading-plan">Lifetime Reading Plan</a></li>
<li><a href="https://conversationswithtyler.com/episodes/paul-graham/">Transcript of Podcast on Evaluating Talent</a></li>
<li><a href="https://jasonpargin.substack.com/p/a-creepy-question-well-all-have-to">The Creepy Question we all have to answer</a></li>
<li><a href="https://www.complete.org/the-pc-internet-revolution-in-rural-america/">PC Revolution in Rural America</a></li>
<li><a href="https://000fff.org/the-problem-with-problems/">The Problem with Problems</a></li>
<li><a href="https://nav.al/archive">Good Author but no RSS Feed</a></li>
<li><a href="https://evidenceanecdotal.blogspot.com/2023/08/the-lack-of-self-deception.html">Lack of Self-deception</a></li>
<li><a href="https://manu.zone/books/close-to-the-machine/">Technophilia, who is this Ellen Ullman</a></li>
<li><a href="https://krebsonsecurity.com/2023/08/tourists-give-themselves-away-by-looking-up-so-do-most-network-intruders/">Don’t look up, or you’ll give yourself away</a></li>
<li><a href="https://wso2.com/whitepapers/transactions-in-a-microservice-world/">Transactions in a microservice world</a></li>
<li><a href="https://www.youtube.com/watch?v=mS5WYp5xmvI">Thomas Sowell Interview</a></li>
<li><a href="https://meltingasphalt.com/ads-dont-work-that-way/">Ads don’t work that way</a></li>
<li><a href="https://thisisunpacked.substack.com/p/the-eu-war-on-behavioral-advertising">Online Ads industry explained</a></li>
<li><a href="https://every.to/superorganizers/the-notetaking-cold-war-591898">The Note Taking Cold War</a></li>
<li><a href="this-file-is-local-on-my-computer-lol">Is Hacking really a crime? (from 1989)</a></li>
</ul>
<h2>hn-discussions</h2>
<ul>
<li><a href="https://news.ycombinator.com/item?id=4803796">Entrepreneurshit</a></li>
<li><a href="https://news.ycombinator.com/item?id=37234111">FOSS House plans</a></li>
<li><a href="https://news.ycombinator.com/item?id=22502554">Philosophy Book Reccomendations</a></li>
</ul>
<h2>random-funny</h2>
<ul>
<li><a href="https://medium.com/@tedskyba/my-job-search-story-ca3956b498c9">Job search shenanegians</a></li>
<li><a href="https://mvsp.dev/">Minimum Viable Secure Product</a></li>
<li><a href="https://www.youtube.com/watch?v=sKouPOhh_9I">Sci-fi Philosophical Video</a></li>
<li><a href="https://www.nature.com/articles/d41586-023-02585-7">LK-99 isn’t a superconductor</a></li>
<li><a href="https://mindmatters.ai/2023/08/a-warning-from-the-unpublished-preface-to-orwells-animal-farm/">Forward to Orwell’s Animal Farm</a></li>
<li><a href="https://htmx.org/posts/2023-06-06-htmx-github-accelerator/">HTMX is the next big thing?</a></li>
<li><a href="https://veilid.com/">Distributed Private App Tool</a></li>
<li><a href="https://www.w3.org/blog/2023/web-environment-integrity-has-no-standing-at-w3c/">W3C says f*ck WEI</a></li>
<li><a href="https://blog.networkprofile.org/my-home-network-complete-details-2023/">Overkill home network configuration</a></li>
<li><a href="https://getwaitlist.com/blog/solo-dev-startup-stack">Indie Develop Full-stack config</a></li>
<li><a href="https://gitlab.com/hsleisink/orb">Windows Desktop in a browser - lol</a></li>
<li><a href="https://markdjacobsen.com/eating-glass/https://markdjacobsen.com/eating-glass/">Potential Book to read on Entrepreneurship - too brainwashed?</a></li>
<li><a href="https://blog.0x7d0.dev/history/unlocking-discord-nitro-features-for-free/">Unlocking discord Nitro features plus alternative frontends for Discord</a></li>
<li><a href="https://github.com/antonmedv/walk">Terminal-based file manager, very nice</a></li>
<li><a href="https://phone.wtf/">BASED - Phone usage guidelines</a></li>
<li><a href="https://www.youtube.com/watch?v=jKwhln6sOQA">Terry Davis Music Tribute - Synthwave</a></li>
<li><a href="https://github.com/nabakdev/dotfiles">A nice desktop configuration</a></li>
<li><a href="https://en.wikipedia.org/wiki/I_Can_Eat_Glass">I can eat glass meme</a></li>
<li><a href="https://web.archive.org/web/20040201212958/http://hcs.harvard.edu/~igp/glass.html">I can eat glass original page on Wayback machine</a></li>
<li><a href="https://www.mull.dog/">Comedian’s Blog</a></li>
</ul>
<!-- END -->
        </section>
    </main>
    
    <hr/>
    
    <footer>
        <!-- Monero Donation Link -->
        <p> Monero Wallet Address (donations are welcome): </p>
<pre id="monero" style="cursor: copy;" title="Right-click to copy"><code> 84CAPQe8aqUQLVcnr91mKtiEvuveckDWCRNgCVSTmEhS59QUwv8HFe9PsuBGCeYRfx3ceBYnjMLxkUupGkWgbRdtDwAry6H </code></pre>
    </footer>

</body>
</html>

