body {
  font-family: "Helvetica", "Arial", sans-serif;
  color:#c8c3bc;
  background-color: #181a1b;
  font-size:16px;
  margin:2em auto;
  max-width: 50em;
  padding:1em;
  line-height:1.6;
  text-align:justify;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.nav-left img {
    width: 50px;
    height: auto;
}

.nav-right a, a:visited {
    padding: 10px; 
    text-decoration: none;
    color:#ada69c;
    font-weight: bold;
}

a, a:visited {
    color: #ada69c; 
    transition: filter 0.3s ease; 
}

a:hover {
    filter: brightness(120%); 
}

h1,
h2,
strong {
  color:#c8c3bc;
}

img {
    width: 200px;
}

body img {
    width: 600px;
}

code, pre {
  background: #222426;  
  color: #b6b0a7;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  background: #222426;
  color: #b6b0a7;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

hr {
  color:#c8c3bc;
  margin-top: 3em;
  margin-bottom: 3em;
}

#gpg {
 font-size: 10px;
 display: inline-block;
}


#monero {
    font-size: 11px;
    padding: 0.5em; 
    margin-bottom: 1em; 
    line-height: 1.4; 
    display: inline-block;
}

#tags {
    color: #fff;
    background-color: #27b1fa;
    border-radius: 20px;
    padding: 0.2em 1em;
    margin-left: 1em;
    display: inline-block;
}
/*
    position: relative; /* Needed for positioning the ::after pseudo-element */
    overflow: hidden; /* Ensures the ::after content does not overflow the button */


.home-body a::after {
    content: ''; /* Required for the pseudo-element to work */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Semi-opaque white film */
    opacity: 0; /* Make it fully transparent initially */
    transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}

.home-body a:hover::after {
    opacity: 1; /* Make the white film fully visible on hover */
}
.blog_links a {
    display: block;
    font-size: 16px;
    margin-top: 0.5em;
}

.home-top {
    text-align: center; /* Center aligns everything in home-top */
    padding: 20px; /* Adds some space inside home-top */
}

.home-top img {
    max-width: 300px; 
    height: auto; 
    width: 50%; 
    margin-bottom: 16px; 
}

.home-top h1 {
    font-size:2em;
    margin-bottom: 12px; 
}

.home-body {
    display: flex;
    justify-content: space-between;
}

.home-body a {
    flex: 1;
    margin: 0 10px;
    background-image: url('/assets/water-texture.png');
    color:#fefefe; 
    text-align: center;
    padding: 0.5em 1em; 
    text-decoration: none;
    font-size: 20px; 
    font-weight: bold;
    border: 3px solid #007bff;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333; 
    position: relative; 
    overflow: hidden; 
}

.home-body a::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.home-body a:hover::after {
    opacity: 1; 
}

.footer-logos {
    margin-top: 3em;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2em; 
}

.footer-logos img {
    width: 40px; 
    height: auto; 
}

